@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

html,body,#app{
    height:100%;
    width:100%;
}


/*
滚动条 
 */
 ::-webkit-scrollbar {
	width: 6px;
	height: 12px;
	
}

::-webkit-scrollbar-thumb {
	display: block;
	min-height: 12px;
	min-width: 5px;
	border-radius: 6px;
	background-color: rgb(217, 217, 217);
}

::-webkit-scrollbar-thumb:hover {
	display: block;
	min-height: 12px;
	min-width: 5px;
	border-radius: 6px;
	background-color: rgb(159, 159, 159);
}
::-webkit-scrollbar-corner{
	background-color: rgb(255,255,255,0%);
}

/*修复编辑器样式问题*/
.w-e-text-container [data-slate-editor] h1,
.w-e-text-container [data-slate-editor] h2,
.w-e-text-container [data-slate-editor] h3,
.w-e-text-container [data-slate-editor] h4,
.w-e-text-container [data-slate-editor] h5 {
margin: 20px 0;
font-weight: bold;
}
.w-e-text-container [data-slate-editor] h1 {
font-size: 26px;
}
.w-e-text-container [data-slate-editor] h2 {
font-size: 22px;
}
.w-e-text-container [data-slate-editor] h3 {
font-size: 20px;
}
.w-e-text-container [data-slate-editor] h4 {
font-size: 18px;
}
.w-e-text-container [data-slate-editor] h5 {
font-size: 16px;
}




